@import '~antd/dist/antd.css';
.age-checker .ant-modal-title {
	font-weight: 800 !important;
}
.age-checker .ant-modal-content {
	background-color: #424242;
	color: #fff;
}
.age-checker p {
	line-height: 10% !important;
	text-align: center;
}

.ant-modal-mask {
	background-color: #000;
}
