@import '~antd/dist/antd.css';
.age-checker .ant-modal-title {
	font-weight: 800 !important;
}
.age-checker .ant-modal-content {
	background-color: #424242;
	color: #fff;
}
.age-checker p {
	line-height: 10% !important;
	text-align: center;
}

.ant-modal-mask {
	background-color: #000;
}

/* General App Level */
.content h3 {
	color: #add8e6;
}
.ant-btn-primary {
	color: #fff;
	border-color: #1b5e20;
	background: #1b5e20;
	text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
	box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
